body {
    display: flex;
    justify-content: center;
}
.wrap {
    width: 1440px;
    min-height: 600px;
    /* margin: 0 auto;  антипаттерн */
}
.menu {
    display: flex;
    border-bottom: 1px solid #c4c4c4;
}
.menu_left {
    width: 720px;
    height: 66px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_left > a {
    color: black;
    text-decoration: none;
    margin-right: 25px;
}
.menu_right {
    width: 720px;
    height: 66px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_right > a {
    color: #c4c4c4;
    text-decoration: none;
    margin-left: 30px;
    font-size: 23px;
    transition: 300ms;
}
.menu_right > a:hover {
    color: #087de4;
    rotate: 360deg;
    font-size: 35px;
}
.reviews {
    margin-top: 70px;
}

.reviews>h2 {
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 700;
}
.reviews-box {
    display: flex;
    justify-content: space-evenly;
}

.review {
    width: 302px;
}

.review>h4 {
    text-transform: uppercase;
    margin: 25px 0;
}
.review>p {
    padding-left: 20px;
    border-left: 2px solid rgb(208, 127, 33);
}